#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layout-lv0 {
    position: fixed;
    z-index: 1e5;
    overflow: hidden;
}

.layout-lv1 {
    position: absolute;
    z-index: 1e4;
    overflow: hidden;
}

.layout-lv2 {
    position: absolute;
    z-index: 1e3;
}

#floating-section {
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
}

#floating-section.expand {
    width: 100vw;
    height: 100vh;
}

#floating-section>div {
    position: absolute;
}

#app {
    --top-bar-height: 28.2px;
    --bottom-bar-height: 1.5rem;
    --left-bar-width: 2.5rem;
    --right-bar-width: 30%;
}

#top-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
    display: flex;
    background-color: var(--color-700);
    transition: background-color .2s;
}

#bottom-bar {
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: #f3f3f3;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

#left-bar {
    top: 28.2px;
    left: 0;
    width: var(--left-bar-width);
    height: calc(100% - var(--bottom-bar-height) - var(--top-bar-height));
    background-color: #e6e6e6;
}

#right-bar {
    top: 28.2px;
    right: 0;
    width: var(--right-bar-width);
    height: calc(100% - var(--bottom-bar-height) - var(--top-bar-height));
    overflow-y: auto;
    background-color: #e6e6e6;
}

#right-bar_close-btn {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

#center-zone {
    position: absolute;
    top: var(--top-bar-height);
    left: var(--left-bar-width);
    right: var(--right-bar-width);
    bottom: var(--bottom-bar-height);
    overflow: scroll;
}

#bottom-bar-left, #bottom-bar-right, #bottom-bar-center {
    display: flex;
}

#bottom-bar-right {
    margin-right: 0.5rem;
}

#bottom-bar-left {
    margin-left: 0;
}

span.button {
    padding: 0 0.5rem;
    cursor: pointer;
}

span.button:hover {
    backdrop-filter: brightness(0.9);
}
