#simulation-progress {
    width: 33vw;
    padding: 1rem;
    height: 100%;
    background-color: var(--color-50);
    display: none;
}
#simulation-ctls {
    /* display: flex; */
    align-items: center;
    display: none;
}
body[data-mode="SIMULATE"] #simulation-progress {
    display: block;
}
body[data-mode="SIMULATE"] #simulation-ctls {
    display: flex;
}

/* [OUTDATED] input[type=range]#sim-prog-slider {
    width: 33vw;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
} */

.sim-prog {
    height: 0.2rem;
    position: absolute;
    top: calc(50% - 0.1rem);
}
#sim-prog-full {
    background-color: #fffa;
    width: 33%;
}
#sim-prog-actual {
    background-color: var(--color-500);
    /* width: 15%; */
}
#sim-prog-thumb {
    width: 0.5rem;
    height: 1rem;
    background-color: var(--color-700);
    border-radius: 0.3rem;
    position: absolute;
    top: calc(50% - 0.5rem);
    transform: translateX(-50%);
    cursor: pointer;
}