body {
    --color-50: #ddffee;
    --color-100: #d5fbe5;
    --color-200: #cdf3dd;
    --color-300: #c5ead5;
    --color-400: #bde2cd;
    --color-500: #b9dec9;
    --color-600: #7fa28f;
    --color-700: #496a58;
    --color-800: #173727;
    --color-900: #001507;
    --color-950: #000100;

    --tcolor-50: black;
    --tcolor-100: black;
    --tcolor-200: black;
    --tcolor-300: black;
    --tcolor-400: black;
    --tcolor-500: white;
    --tcolor-600: white;
    --tcolor-700: white;
    --tcolor-800: white;
    --tcolor-900: white;
    --tcolor-950: white;
}