hr {
    --hr-side-color: transparent;
    --hr-center-color: #909090;

    border: 0;
    border-radius: 1px;
    height: 1px;
    background: linear-gradient(90deg, var(--hr-side-color), var(--hr-center-color), var(--hr-side-color));
}

.small {
    font-size: 0.75rem;
}

.big {
    font-size: 1.5rem;
    font-weight: bold;
}

.gray {
    color: #909090;
}

.float-right {
    float: right;
}

@font-face {
    font-family: SegoeMDL2;
    src: url('mwfmdl2-ttf.woff');
}

.symbol {
    font-family: SegoeMDL2;
}

.cursor-pointer {
    cursor: pointer;
}

.no-select {
    user-select: none;
}

input.input-short {
    width: 4rem;
}

h3.ui-label-h3 {
    font-weight: bold;
    /* text-align: center; */
    background-color: #c4c4c4;
}

b.field-title {
    font-family: serif;
}

span.small-button {
    padding: 5px;
    border-radius: 50%;
    background: white;
    margin: 3px;
    cursor: pointer;

    &:hover {
        background: var(--color-200);
        color: var(--tcolor-200);
    }
}

.red {
    color: red;
}

.alert-theme {
    --color-50: #ffe6e6;
    --color-100: #ffb3b3;
    --color-200: #ff8080;
    --color-300: #ff4d4d;
    --color-400: #ff1a1a;
    --color-500: #e60000;
    --color-600: #b40000;
    --color-700: #800000;
    --color-800: #4d0000;
    --color-900: #1a0000;
    --color-950: #000000;

    --tcolor-50: black;
    --tcolor-100: black;
    --tcolor-200: white;
    --tcolor-300: white;
    --tcolor-400: white;
    --tcolor-500: white;
    --tcolor-600: white;
    --tcolor-700: white;
    --tcolor-800: white;
    --tcolor-900: white;
    --tcolor-950: white;
}

#focus-po>span {
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    display: inline-block;
    text-align: center;
}

#focus-po.on>span {
    background: #0001;
}

#mode-badge {
    background-color: var(--color-300);
    color: var(--tcolor-300);
    padding: 0 0.5rem;
}

#second-statebadge {
    padding: 0.1em;
    font-size: 0.8em;
}

code {
    background-color: #fff4;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

mjx-assistive-mml {
    display: none !important;
    max-width: 0;
    overflow: hidden;
}