/* noti-badge */
#notification-badge {
    line-height: 1.5rem;
}

.noti.state-nothing {
    background-color: #0000;
    color: #0005;
}

.noti.state-info {
    background-color: #0000;
    color: black;
}

.noti.state-warning {
    background-color: #ffe10099;
    color: #d32f2f;
}

.noti.state-error {
    background-color: #ff000099;
    color: white;
}

#notification-badge.state-warning {
    animation: noti-shake 0.5s;
}

#notification-badge.state-error {
    transform: scaleY(-1);
    animation: noti-shake 0.5s;
}

@keyframes noti-shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* bubble */

#notification-bubbles-area {
    position: fixed !important;
    bottom: 1.5rem;
    right: 0;
    z-index: 1e6;
    display: block !important;  /* no '.hide' */
}

.noti.state-warning {
    --icon: "";
    --bg-color: #ffe10099;
}

.noti.state-error {
    --icon: "";
    --bg-color: #ff000099;
}

.notification-bubble {
    backdrop-filter: blur(3px);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.2rem;
    background: var(--bg-color, #ffffff99);
    box-shadow: 0px 0px 15px 0px #0003;
    max-width: min(30vw, 300px);
}

.notification-bubble .title,
.notification .title {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.notification-bubble .title::before,
.notification .title::before {
    font-family: SegoeMDL2;
    content: var(--icon, "");
    margin-right: 0.5rem;
}

.notification-bubble .message {
    margin-bottom: 0.25rem;
}

button.notification-bubble-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
}

/* noti-center */
#notification-center {
    position: fixed !important;
    display: block;
    top: 1.5rem;
    right: 0;
    width: calc(min(30vw, 300px) + 1rem);
    height: calc(100vh - 1.5rem - 1rem);
    padding: 0.5rem;
    overflow-y: auto;
    backdrop-filter: blur(5px);
    background: #fffd;
    box-shadow: 0px 0px 20px 0px #0004;
    border-radius: 0.5rem 0 0 0.5rem;
    z-index: 1e6;
    animation: noti-center-slide-in 0.3s ease-out;
}
#notification-center.hide {
    animation: noti-center-slide-out 0.3s ease-out;
    display: none;
}

@keyframes noti-center-slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes noti-center-slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
        display: none;
    }
}

.notification {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.notification.state-info {
    background-color: #e0f7fa;
    color: #003464;
}
.notification .operations {
    display: none;
    float: right;
}
.notification:hover .operations {
    display: block;
}

