#epsilon-dropdown {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 8px;
    z-index: 1000;
    background: white;
    width: max-content;
}

#epsilon-dropdown.hide {
    display: none;
}

#epsilon-dropdown .epsilon-option {
    padding: 0px 12px;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.5em;
}

#epsilon-dropdown .epsilon-option:hover {
    background-color: var(--color-50);
}