body {
    --color-50: #ddffee;
    --color-100: #d5fbe5;
    --color-200: #cdf3dd;
    --color-300: #c5ead5;
    --color-400: #bde2cd;
    --color-500: #b9dec9;
    --color-600: #7fa28f;
    --color-700: #496a58;
    --color-800: #173727;
    --color-900: #001507;
    --color-950: #000100;
}